{%extends "./base.html" %}
{%block titulo %}{{data_show.title}}{% endblock%}
{%block contenido%}

<div class="container mt-5">
    <h1>TV SHOW #(ID: {{data_show.id}})</h1>
    <hr>
    <table class="lead" style="padding: 20px;">
        <tr>
            <th>Title</th>
            <td style="padding: 5px;">:</td>
            <td>{{data_show.title}}</td>
        </tr>
        <tr>
            <th>Network</th>
            <td style="padding: 5px;">:</td>
            <td>{{data_show.network}}</td>
        </tr>
        <tr>
            <th>Release Data</th>
            <td style="padding: 5px;">:</td>
            <td>{{data_show.date}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td style="padding: 5px;">:</td>
            <td>{{data_show.description}}</td>
        </tr>
    </table>
    <hr>
    <table class="lead" style="padding: 20px;">
        <tr>
            <th>Last updated</th>
            <td style="padding: 5px;">:</td>
            <td>{{data_show.updated_at}}</td>
        </tr>
    </table>

    <a href="/shows/{{data_show.id}}/edit" class="btn btn-primary mt-3">Edit</a>
    <a href="/shows/{{data_show.id}}/delete" class="btn btn-warning mt-3">Delete</a>
</div>
    
{%endblock%}