{%extends "./base.html" %}
{%block titulo %}{{data_show.title}}{% endblock%}
{%block contenido%}

<div class="container mt-5">
    <h1>TV SHOW #(ID: {{data_show.id}})</h1>
    <p class="lead">Title: <b>{{data_show.title}}</b></p>
    <p class="lead">Network: <b>{{data_show.network}}</b></p>
    <p class="lead">Release Data: <b>{{data_show.date}}</b></p>
    <p class="lead">Description: <b>{{data_show.description}}</b></p>
    <hr>
    <p class="lead">Last updated: <b>{{data_show.updated_at}}</b></p>
    <a href="/shows/{{data_show.id}}/edit" class="btn btn-primary mt-3">Edit</a>
    <a href="/shows/{{data_show.id}}/delete" class="btn btn-warning mt-3">Delete</a>
</div>
    
{%endblock%}